In [1]:
import requests
from tqdm import tqdm
import pandas as pd
from bs4 import BeautifulSoup

In [6]:
df = pd.read_csv("Books Details.csv")

In [19]:
data = []

for link in tqdm(df.Book_link):
    res = requests.get(link)
    soup = BeautifulSoup(res.text, "html.parser")
    
    ptype    = soup.find("ul", class_ = "breadcrumb").find_all("a")[2].text
    
    temp     = soup.find("table", class_ = "table table-striped").find_all("td")
    upc      = temp[0].text
    price_x  = temp[2].text[2 : ]
    price_i  = temp[3].text[2 : ]
    tax      = temp[4].text[2 : ]
    quantity = temp[5].text
    reviews  = temp[6].text
    
    data.append([ptype, upc, price_x, price_i, tax, quantity, reviews])

100%|██████████████████████████████████████████████████████████████████████████████| 1000/1000 [17:34<00:00,  1.05s/it]

In [20]:
len(data)

1000

In [21]:
new_df = pd.DataFrame(data, columns = ["Type", "UPC", "Price_excluding_tax", "Price_including_tax", "Tax", "Quantity", "Reviews"])

In [22]:
new_df.head()

,Type,UPC,Price_excluding_tax,Price_including_tax,Tax,Quantity,Reviews
0,Poetry,a897fe39b1053632,51.77,51.77,0.00,In stock (22 available),0
1,Historical Fiction,90fa61229261140a,53.74,53.74,0.00,In stock (20 available),0
2,Fiction,6957f44c3847a760,50.10,50.10,0.00,In stock (20 available),0
3,Mystery,e00eb4fd7b871a48,47.82,47.82,0.00,In stock (20 available),0
4,History,4165285e1663650f,54.23,54.23,0.00,In stock (20 available),0

In [23]:
new_df.isnull().sum()

Type                   0
UPC                    0
Price_excluding_tax    0
Price_including_tax    0
Tax                    0
Quantity               0
Reviews                0
dtype: int64

In [24]:
new_df.to_csv("Individual Book details.csv")