In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("Books Details.csv")
df2 = pd.read_csv("Individual Book details.csv")

In [3]:
df1.head()

,Unnamed: 0,Title,Rating,Price,Stocks,Book_link,Image_link
0,0,A Light in the Attic,Three,Â£51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/../media/cache/2c/d...
1,1,Tipping the Velvet,One,Â£53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/../media/cache/26/0...
2,2,Soumission,One,Â£50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/../media/cache/3e/e...
3,3,Sharp Objects,Four,Â£47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/../media/cache/32/5...
4,4,Sapiens: A Brief History of Humankind,Five,Â£54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/../media/cache/be/a...

In [7]:
df2.head()

,Unnamed: 0,Type,UPC,Price_excluding_tax,Price_including_tax,Tax,Quantity,Reviews
0,0,Poetry,a897fe39b1053632,51.77,51.77,0.0,In stock (22 available),0
1,1,Historical Fiction,90fa61229261140a,53.74,53.74,0.0,In stock (20 available),0
2,2,Fiction,6957f44c3847a760,50.10,50.10,0.0,In stock (20 available),0
3,3,Mystery,e00eb4fd7b871a48,47.82,47.82,0.0,In stock (20 available),0
4,4,History,4165285e1663650f,54.23,54.23,0.0,In stock (20 available),0

In [5]:
df = pd.DataFrame()

In [9]:
df['Title']               = df1["Title"]
df["UPC"]                 = df2["UPC"]
df["Category"]            = df2["Type"]
df["Price_excluding_tax"] = df2["Price_excluding_tax"]
df["Price_including_tax"] = df2["Price_including_tax"]
df["Tax"]                 = df2["Tax"]
df["Rating"]              = df1["Rating"]
df["Reviews"]             = df2["Reviews"]
df["Quantity"]            = df2["Quantity"]
df["Stocks"]               = df1["Stocks"]

df["Book_link"]           = df1["Book_link"]
df["Image_link"]          = df1["Image_link"]

In [10]:
df.head()

,Title,UPC,Category,Price_excluding_tax,Price_including_tax,Tax,Rating,Reviews,Quantity,Stocks,Book_link,Image_link
0,A Light in the Attic,a897fe39b1053632,Poetry,51.77,51.77,0.0,Three,0,In stock (22 available),In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/../media/cache/2c/d...
1,Tipping the Velvet,90fa61229261140a,Historical Fiction,53.74,53.74,0.0,One,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/../media/cache/26/0...
2,Soumission,6957f44c3847a760,Fiction,50.10,50.10,0.0,One,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/../media/cache/3e/e...
3,Sharp Objects,e00eb4fd7b871a48,Mystery,47.82,47.82,0.0,Four,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/../media/cache/32/5...
4,Sapiens: A Brief History of Humankind,4165285e1663650f,History,54.23,54.23,0.0,Five,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/../media/cache/be/a...

In [11]:
df.isnull().sum()

Title                  0
UPC                    0
Category               0
Price_excluding_tax    0
Price_including_tax    0
Tax                    0
Rating                 0
Reviews                0
Quantity               0
Stocks                 0
Book_link              0
Image_link             0
dtype: int64

In [12]:
df.to_csv("All book details.csv", index = False)

In [13]:
pd.read_csv("All book details.csv").head()

,Title,UPC,Category,Price_excluding_tax,Price_including_tax,Tax,Rating,Reviews,Quantity,Stocks,Book_link,Image_link
0,A Light in the Attic,a897fe39b1053632,Poetry,51.77,51.77,0.0,Three,0,In stock (22 available),In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/../media/cache/2c/d...
1,Tipping the Velvet,90fa61229261140a,Historical Fiction,53.74,53.74,0.0,One,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/../media/cache/26/0...
2,Soumission,6957f44c3847a760,Fiction,50.10,50.10,0.0,One,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/../media/cache/3e/e...
3,Sharp Objects,e00eb4fd7b871a48,Mystery,47.82,47.82,0.0,Four,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/../media/cache/32/5...
4,Sapiens: A Brief History of Humankind,4165285e1663650f,History,54.23,54.23,0.0,Five,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/../media/cache/be/a...